*{
    background-color: black;
    color:white;
    border:0px;
}

section{
    width:100%;
    float:left;
    align-items: center;
    text-align: center;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    
}

.bloco{
    width:20%;
    height: 250px;
    align-items: center;
    text-align: center;
    margin:1% 0% 1% 0%;
}


.imagem{
    width: 100%;
    border-radius:20px;
}

.botao{
    width: 50%;
    border: 1px solid white;
    border-radius:200px;
    margin:20% 0%;
}

.blocoInfo{
    width:40%;
    height: 250px;
    align-items: center;
    text-align: center;
}

.borda{
    border: 1px solid white;
    padding: 0px 30px;
    border-radius:20px;
}


.formulario{
    width:50%;
    align-items: center;
    text-align: center;
    border-radius:25px;
    margin:10% 25%;
   
    
}

.formulario form{
    margin:5%;
    
}

.formulario input{
    border: 1px solid white;
    padding: 3px 60px 3px 15px;
    border-radius:5px;
}

.formularioAlt{
    width:40%;
    height: 250px;
    align-items: center;
    text-align: center;
}

.formularioAlt input{
    border: 1px solid white;
    padding: 3px 60px 3px 15px;
    border-radius:5px;
}


@media screen and (max-width: 968px){
    .bloco{
        width:30%;
        margin:4% 1.5% 4% 1.5%;
    }
}

@media screen and (max-width: 640px){
    .bloco{
        width:70%;
        margin:3% 15% 25% 15%;
    }
}